.card{
    overflow: hidden;
    box-shadow: 0px 3px 10px #000000;
    border-radius: 10px;
    width: 25vw;
    height: 150px;
    margin: 10px;
    position: relative;
}
.card:hover {
    cursor: pointer;
    box-shadow: 0px 3px 15px #161515;
}

.card-wrapper{
    height: 100%;
    position: relative;
}
.card-background{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.card-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* filter: brightness(0.3); */
}
.card h1 {
    /* border: red solid 1px; */
    font-size: 10px;
    font-weight: 900;
    position: absolute;
    right: 10px;
    left: 10px;
    bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--color-text);
}


